html, 
body {
    margin: 0;
    padding: 0;
}

header, .icon {
    display: flex;
    align-items: center;
}

header {
    height: 8vh;
    justify-content: space-between;
    padding: 0 1em;
    /* border: 1px solid blue; */
}

header, .recent {
    color: #0E0E0E;
}

.icon {
    gap: 0.15em;
}

header img {
    width: 28px;
    height: 28px;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
}

header a:link, 
header a:visited {
    color: black;
}

nav {
    font-size: 0.6em;
    font-weight: 700;
    display: flex;
    gap: 3em;
}

.featured {
    height: 30vh;
    background-size: cover;
    background-image: url('../images/article.png');
    color: #FFFFFF;
    padding: 0 1em;
    justify-content: flex-end;

    /* border: 1px solid yellow; */
}

.featured, .recent, footer {
    display: flex;
    flex-direction: column;
}

.featured .date, 
.recent .date {
    text-transform: uppercase;
}

.featured .date,
.featured h1, 
.featured p,
.recent .date,
.recent h1,
.recent p {
    margin-top: 0;
}

.recent {
    min-height: 53vh;

    /* border: 1px solid green; */
}

.post {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.post img {
    margin-bottom: 1em;
}

.featured, footer {
    background-color: #202020;
}

footer {
    min-height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

footer h3{
    font-size: 0.8em;
    color: #ECECEC;
    margin: 0;
}

footer p {
    font-size: 0.6em;
    color: #D7D7D7;
    margin-top: 0.25em;
    margin-bottom: 0;
}